@model Project_ASP_NET.Models.Category



<div class="d-flex justify-content-center", style="align-self:center;">
  @*  <form method="post" action="/Categories/Edit/@ViewBag.Category.Id" class="card">
        <div class="card-body">
            
             <label for="name" class="form-label">Nume</label>
             <input type="text" class="form-control" name="Name" value="@ViewBag.Category.Name">

            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            <br />
            
             <label for="description" class="form-label">Descriere</label>
             <textarea rows="4" cols="50" class="form-control" name="Description">@ViewBag.Category.Description</textarea>

             
             <br/>

            
             <button type="submit" class="btn btn-success">Editeaza categorie</button>
           
        </div>
    </form>*@

    @using (Html.BeginForm(controllerName: "Categories", actionName: "Edit", method: FormMethod.Post,routeValues: new { id = Model.Id }))
    {
        <div class="card-body" , style="width:600px; margin:auto;">
            @Html.Label("Name", "Denumire categorie")
           
            @Html.TextBox("Name", null, new {@class="form-control"})
            
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            <br />

            <br/>

            @Html.Label("Description", "Descriere categorie")
            @Html.TextArea("Description", null, new{@class="form-control", rows=4, columns=50})
            <br />

            <button class="btn btn-success" type="submit">Modifica categoria</button>

        </div>
    }

</div>