@model Project_ASP_NET.Models.Category

<div class="card-body d-flex justify-content-center", style="width:800px;">
    @*<form method="post" action="/Categories/New" class="card">
        <div class="card-body">
            
             <label for="name" class="form-label">Nume</label>
             <input type="text" class="form-control" name="Name">

            
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            <br />
           
             <label for="description" class="form-label">Descriere</label>
             <textarea rows="4" cols="50" class="form-control" name="Description"></textarea>
           
             <br />
            
             <button type="submit" class="btn btn-success">Adauga categorie</button>
            
        </div>
    </form>
*@
   @using (Html.BeginForm(actionName: "New", controllerName: "Categories", method: FormMethod.Post)){
        <div class="card-body" , style="width:600px; margin:auto;">
            @Html.Label("Name", "Denumire categorie")
            <br/>
            @Html.TextBox("Name", null, new {@class="form-control"})
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            <br />


            @Html.Label("Description", "Descriere categorie")
            @Html.TextArea("Description", null, new{@class="form-control", rows=4, columns=50})

            <br />
            <button class="btn btn-success" type="submit">Adauga categorie</button>

        </div>

   }
</div>
